/*
 * Main file styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "./mixins"
@import "./components/bootstrap/dist/css/bootstrap.min.css"

@include fontAdd('pt_sans_narrow', 'pt_sans-narrow-web-regular-webfont')
@include fontAdd('pt_sans_narrow_b', 'pt_sans-narrow-web-bold-webfont')
@include fontAdd('pt_sans_r', 'pt_sans-web-regular-webfont')

html
	width: 100%
	min-width: 980px
	height: 100%

	.modal-open
		overflow: auto
		padding-right: 0 !important

	.modal-backdrop
		opacity: 0.95 !important
		@include linearGradient(rgba(0, 149, 218, 1), rgba(0, 149, 218, 1))

	body
		height: 100%
		font-family: pt_sans_narrow
		font-size: 18px
		color: #414141

		.container
			margin: 0 auto
			width: 100%
			min-width: 980px
			max-width: 1495px

		.btn
			border: none
			width: 170px
			height: 36px
			padding: 0
			background: #414141
			font-size: 16px
			text-align: center
			text-transform: uppercase
			color: #FFF
			line-height: 36px
			@include transition(background)

			&:hover, &:focus
				background: #00a3ef
				color: #fff

		.btn-inverse
			@extend .btn
			border-radius: 4px
			background: #00a3ef
			color: #fff

			&:hover
				background: #414141

		h1
			font-size: 50px
			font-weight: normal
			text-transform: uppercase

		h3
			font-size: 36px
			text-transform: uppercase

		h2
			font-family: pt_sans_narrow_b
			font-size: 50px

		b
			font-size: 21px
			line-height: 1.4
			font-weight: normal
			color: #2c2c2e

		hr
			height: 3px
			background: #4d4a48

		a
			color: #0095da
			@include transition(color)

			&:hover
				text-decoration: none
				color: #414141

		input[type="text"]
			border: 3px solid #4e4e4e
			color: #414141

		.contacts
			margin: 0
			padding: 0
			list-style: none
			display: flex
			justify-content: space-between
			align-items: center

			li
				font-size: 24px

				@include mobile
					font-size: 18px

				p
					font-family: pt_sans_narrow_b
					font-size: 28px

					@include mobile
						font-size: 21px

		.wrapper
			height: auto
			min-height: 100%

			.content
				.title
					position: relative
					box-sizing: border-box
					height: 105px
					background: #414141

					&::after
						position: absolute
						bottom: -43px
						left: 50%
						transform: translateX(-50%)
						border: 22px solid transparent
						border-top: 22px solid #414141
						content: ""

					h1
						text-align: center
						color: #fff
						margin: 0
						position: relative
						top: 50%
						transform: translateY(-50%)
						font-size: 42px

					.breadcrumb
						margin: 21px 0 0
						padding: 0
						background: none

						li
							text-transform: uppercase
							color: #fff
							vertical-align: middle
							line-height: 1

							& + li::before
								content: ""
								@include bg('breadcrumb.png', no-repeat 8px center)
								width: 11px
								height: 21px
								padding: 0 14px

							a
								font-size: 24px

								&:hover
									text-decoration: underline
									color: #0095da

						.active
							font-size: 50px

							&::before
								padding-right: 40px


			@import "./pages/main/index"

		@import "./modules/header"
		@import "./modules/footer"
