extends ./layot

block config
	- var mainClass = 'main'

block content
	.title
		h1 Комплектующие
	section.schema
		.container
			.row
				.col-md-6.col-sm-6.col-xs-6
					.item
						p для Промышленной водоподготовки
						.img
							img(src="#{imgPath}/schema1.png")
				.col-md-6.col-sm-6.col-xs-6
					.item
						p для Бытовых фильтров
						.img
							img(src="#{imgPath}/schema2.png")
	section.developments
		.title
			h1 События
		.container
			p 15 мая — запуск полной версии сайта «Гидропрофиль»!
