- var tplPath = './'
- var imgPath = tplPath + 'img'
- var mainClass = ''	

block config

doctype
html(lang="ru")
	head
		title Gidroprofil
		meta(charset="utf-8")
		meta(name="viewport" content="width=980")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		link(rel='stylesheet', href='#{tplPath}build.css')
		script(src='#{tplPath}/build.js')
	body
		.wrapper
			header
				.container
					.column
						a(href="/").logo
					.column
						ul.contacts
							li
								span Москва:
								p +7 (495) 710-05-19
							li
								span Ростов-на-Дону:
								p +7 (863) 231-84-09
							li
								span Екатеринбург:
								p +7 (343) 334-35-90
					.column
						a.btn.btn-default(href="./upload/catalog.pdf" download) Скачать каталог
			main(class="content #{mainClass}")
				block content
		footer
			.container
				.row
					.col-xs-3.col-sm-3.col-md-3.col-lg-3.copy
						p © Гидропрофиль
					.col-xs-7.col-sm-7.col-md-7.col-lg-7
						ul.contacts
							li
								span Москва:
								p +7 (495) 710-05-19
							li
								span Ростов-на-Дону:
								p +7 (863) 231-84-09
							li
								span Екатеринбург:
								p +7 (343) 334-35-90
					.col-xs-2.col-sm-2.col-md-2.col-lg-2.dev
						a(href="http://web-izmerenie.ru") СДЕЛАНО В
		
