/*
 * Styles from footer
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

footer
	height: 125px
	background: #2c2c2e
	box-sizing: border-box
	padding: 37px 0 0
	color: #fff
	font-size: 21px

	.container
		.contacts
			display: flex
			justify-content: space-between
			align-content: center

		.dev
			text-align: right

			a
				color: #fff
				font-size: 17px
				text-transform: uppercase
				@include bg('wi.png', no-repeat right center)
				padding-right: 25px
