/*
 * Styles from header
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

header
	position: relative
	z-index: 2000
	background: #fff

	.container
		display: flex
		align-items: center
		flex-wrap: nowrap
		height: 110px

		.column
			width: auto

			&:nth-child(1)
				width: 22.5%

			&:nth-child(2)
				width: 55.9%

			&:nth-child(3)
				width: 20%
				text-align: right

			.logo
				@include bg('logo.png', no-repeat)
				display: block
				width: 54%
				height: 87px
				background-size: contain

				@media(max-width: $medium)
					width: 85%

				@media(max-width: $small)
					width: 90%

			.navbar
				margin: 0
				border: none
				min-height: auto
				background: none

				.nav
					display: flex
					width: 100%
					justify-content: space-between

					li
						a
							padding: 0
							font-size: 24px
							text-transform: uppercase
							color: #0095da
							@include transition(color)

							&:hover
								color: #414141

							@media(max-width: $medium)
								font-size: 20px

							@media(max-width: $small)
								font-size: 18px

						.counts
							position: absolute
							bottom: 22px
							right: -40px
							border-radius: 100%
							min-width: 39px
							height: 29px
							background: #414141
							font-family: pt_sans_narrow_b
							line-height: 33px
							text-align: center
							color: #fff

							&::after
								position: absolute
								bottom: -5px
								left: 6px
								transform: rotate(11deg)
								border: 9px solid transparent
								border-top: 0px solid transparent
								border-left: 9px solid #414141
								content: ""

			.input-group
				margin-top: 3px

				.form-control
					box-shadow: none
					border: 2px solid #414141
					border-right: none
					height: 43px
					padding-left: 19px
					font-size: 21px
					@include placeholder
						color: #414141

				.input-group-addon
					border: 2px solid #414141
					border-left: none
					padding: 0
					background: none

					button
						border: none
						background: none
						@include bg('search-button.png', no-repeat)
						@include size(24px)
						margin-right: 14px

						&:hover
							background-position: -67px 0

			#ask-question
				float: right
				margin-top: 4px
				width: 93%

				@media(max-width: $small)
					font-size: 18px
