/*
 * Styles main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.developments
	box-sizing: border-box

	.title
		background: #feee94

		&::after
			border-top: 25px solid #feee94

		h1
			color: #414141

	.container
		height: 300px

		p
			font-size: 42px
			text-align: center
			position: relative
			top: 50%
			transform: translateY(-50%)
