/*
 * Styles main page for block schema
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.schema
	@include linearGradient(#0291d7, #1d56ad)

	> .container
		text-align: center

		.col-md-6
			&:first-of-type::after
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				border-right: 1px solid #66a0d4
				height: 524px
				content: ""

				@media(max-width: $medium)
					height: 70%

			.item
				position: relative
				display: block
				margin: 22px 0 53px
				height: 641px
				font-size: 36px
				text-align: center
				color: #fff

				&:focus
					text-decoration: none


				@media(max-width: $small)
					height: 400px

				.img
					position: relative

					img
						padding: 0 20px 20px

						@media(max-width: $min-container)
							width: 85%

					.hover
						position: absolute
						top: 0
						left: 50%
						opacity: 0
						transform: translateX(-50%)
						@include transition(opacity)

				&:hover
					text-decoration: none

					&::after
						opacity: 1

					.img .hover
						opacity: 1

				p
					padding: 13px 0 33px
